- name: Save History
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add data/history.json || echo "No changes to history"
          git commit -m "Update history [skip ci]" || echo "Nothing to commit"
          git push || echo "Nothing to push"
